@import "tailwindcss";

:root {
	--background: #d5d7e4;
	--foreground: #000;
	--primary: #1e2131;
	--font-google-sans: "Google Sans", sans-serif;
	--font-cookie: "Cookie", cursive;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--font-google-sans: var(--font-google-sans);
	--font-cookie: var(--font-cookie);
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--color-background);
	color: var(--color-foreground);
	font-family: var(--font-google-sans);
	scroll-behavior: auto !important;
	overscroll-behavior: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
	width: 5px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: var(--background);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--color-primary);
	border-radius: 10px;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}
.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
